
/* header */


header{
    position: sticky;
    top: 0;
}
.headerpc {
    background-color: rgb(29, 26, 26);
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: absolute;
    margin-bottom: 0px;
    padding-bottom: 0;
top: 0;
   width: 100%;
   position: sticky;
}





  @media (max-width: 768px) {
    .headerpc{
        display: none;
    }
  }




  
/* body */


  body {
    margin: auto;
    background-color: rgb(230, 221, 221);
  }

  
  .btn {
    background-color: coral;
    border: 0;
    border-radius: 20px;
    padding: 9px;
    color: black;
    font-size: 15px; /* Added unit */
  }
  
  .cart {
    position: absolute;
    right: 95px;
    bottom: 27px;
    width: 30px;
  }
  
  .btn:hover {
    background-color: red;
    color: white;
  }
  
  .category {
    padding: 9px;
    background-color: coral;
    border-radius: 15px 0 0 15px;
    font-size: 15;
  }
  .category select{
    background-color: black;
    color: white;
  }
  
  .btnn {
    padding: 10px;
    background-color: coral;
    border-radius: 0 15px 15px 0; /* Corrected radius shorthand */
  }
  
  .search {
    padding: 10px;
    padding-right: 40px;
  }
  
  .logo {
    position: relative;
    width: 100;
    padding-left: 40px;
  }
  
  



  /* menu pc */      /* عرض القائمة الأفقية افتراضيًا */
  .nav{
    background-color: rgb(197, 188, 188);
margin: 0;
    position: relative;

  }
  .nav-menu {
    display: block;
    color: rgb(0, 0, 0);
    position: relative;
    margin: 0%;

  }
  
  .nav-menu ul {
    position: relative;
    text-align: center;
    padding-top: 15px; /* تقليل التباعد العلوي */
    padding-bottom: 15px; /* تقليل التباعد السفلي */
    margin-top: 0; /* إزالة الهوامش العلوية */

    

  }

  .nav-menu ul a{
    text-decoration: none;
    color: rgb(46, 43, 43);
  }
  .nav-menu ul :hover{
    background-color: coral;
    border-radius: 15px;
    padding: 10px 0px 10px 30px;
  }
  .nav-menu ul li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 0px; 
    padding-top: 0;
    /* Added unit */
  }
  
  .menu-phone {
    display: none; /* إخفاء قائمة الهاتف والزر افتراضيًا */
  }

  
  @media (max-width: 768px) { /* Corrected media query syntax */
    .nav-menu { /* Corrected class name */
      display: none;
      /* إخفاء القائمة الأفقية على شاشات الهاتف */
    }
  
    .menu-phone { /* Corrected class name */
      display: block;
      background-color: rgb(128, 126, 124);
      position: sticky

      
      /* عرض قائمة الهاتف والزر على شاشات الهاتف */
    }
    /* إخفاء قائمة الهاتف افتراضيًا */
    .menu-phone ul {
      display: none;
     list-style: none;
      flex-direction: column;
      width: auto;
      height: auto;

      
    }
  
    .menu-phone ul.show {
      display: block;
 /* إظهار قائمة الهاتف عند النقر */
    }
    .menu-phone ul a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 30;
        position: relative;
        text-align: center;
    } 

  }